/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
font-family: Arial, Helvetica, sans-serif;
color: #777;
background: #777;
width: 1320px;
font-size: 18px;
overflow: auto;
clear: both;
  }
#container{
    margin: 180px;
}
  
  header {
    padding: 20px 40px 20px 40px;
    color: rgb(15, 15, 15);
    background: rgb(250, 229, 229);
  }
  .nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }
  
  section {
    float: left;
    width: 655px;
    height: 495px;
    padding: 20px 40px 20px 40px;
    margin-bottom: 20px;
    background: #ebebeb;
  
  }
  article{
    margin-top:95px;
    margin-left: 40px;
    position: relative;
    width: 480px;
    height: 300px;
    color: #ebebeb;
    background: #777;
      }
  p,h1{
    margin-top: 50px;
    margin-left: 20px;
    color:#777;
    background: #ebebeb;
    width: 420px;
    height: 70px;
  }
  
  
  
  #division {
    padding: 20px;
    margin-top: 20px;
    background: #6ea3da;
  
  
  }
  
  aside {
    float: left;
    width: 28.50%;
    height: 495px;
    padding: 20px;
    margin-left: 30px;
    background: #ebebeb;
    border: 1px solid #ebebeb;
  }
  
  footer {
    padding: 20px;
    clear: both;
    background: #ccc;
  
  }
  